In [48]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import string
# Libraries for data preparation and model building
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split



from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, f1_score, precision_score, recall_score
import math
from statsmodels.graphics.correlation import plot_corr
import statsmodels.formula.api as sm
from statsmodels.formula.api import ols
from scipy.stats import pearsonr
import nltk
from nltk.tokenize import word_tokenize, TreebankWordTokenizer
import numpy as np
import pandas as pd
from nltk import SnowballStemmer
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
from nltk.corpus import stopwords
import csv
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.figure_factory as ff
import re
import string
from collections import Counter
#import plotly.express as px
from nltk.corpus import stopwords
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
import urllib #For webscraping
from sklearn.model_selection import train_test_split


# set plot style
sns.set()

In [2]:
#loading the data 
train= pd.read_csv("train_set.csv")
test = pd.read_csv('test_set.csv')

In [3]:
#looking at the train data
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [4]:
#looking at the test dataframe
test.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

In [5]:
#looking at the information of the train dataset
print("looking at the information of the train dataset")
train.info()
print("looking at the shape of the train dataset")
#looking at the shape of the train dataset
train.shape

looking at the information of the train dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33000 entries, 0 to 32999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lang_id  33000 non-null  object
 1   text     33000 non-null  object
dtypes: object(2)
memory usage: 515.8+ KB
looking at the shape of the train dataset

(33000, 2)

In [6]:
#looking at the information of the train dataset
print("looking at the information of the train dataset")
test.info()
print("looking at the shape of the train dataset")
#looking at the shape of the train dataset
test.shape

looking at the information of the train dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682 entries, 0 to 5681
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   5682 non-null   int64
 1   text    5682 non-null   object
dtypes: int64(1), object(1)
memory usage: 88.9+ KB
looking at the shape of the train dataset

(5682, 2)

In [7]:
print('There are', len(train), 'rows and',train.shape[1], 'columns in the train set.')

There are 33000 rows and 2 columns in the train set.

In [8]:
print('There are', len(test), 'rows and',test.shape[1], 'columns in the train set.')

There are 5682 rows and 2 columns in the train set.

In [9]:
#cheking for null values
train.isnull().sum()

lang_id    0
text       0
dtype: int64

In [10]:
#cheking for null values
test.isnull().sum()

index    0
text     0
dtype: int64

In [11]:
#getting the total number of each observation in the train data
train['lang_id'].value_counts()

zul    3000
nbl    3000
tso    3000
sot    3000
afr    3000
tsn    3000
xho    3000
ven    3000
eng    3000
nso    3000
ssw    3000
Name: lang_id, dtype: int64

In [12]:
#getting the total number of each observation in the train data
test['index'].value_counts()

2049    1
3351    1
3319    1
1270    1
5364    1
       ..
629     1
2676    1
4723    1
625     1
2047    1
Name: index, Length: 5682, dtype: int64

In [13]:
#checking duplicates
txt = train['text']
#sg= df_train['message']
train[txt.isin(txt[txt.duplicated()])]
#rain[msg.isin(msg[msg.duplicated()])]

      lang_id                                               text
0         xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
9         tsn  fa le dirisiwa lebone le tshwanetse go bontsha...
10        nbl  lapho inarha yangeqadi ingenwe ngokungasimthet...
12        zul  i-tip-offs anonymous wusizo locingo oluzimele ...
19        nbl  isitifikhethi somtjhado esingakarhunyezwa namk...
...       ...                                                ...
32980     ssw  inhloso ye-wua kutsi yente bantfu bendzawo let...
32983     ssw  timiso tesigatjana titawusebenta ngetingucuko ...
32985     nso  ge o nyaka go kgopela phihlelelo ya direkoto t...
32989     ssw  imenenja yesigodzi utakwatisa ngembhalo uma le...
32996     sot  modise mosadi na o ntse o sa utlwe hore thaban...

[5599 rows x 2 columns]

In [14]:
#checking duplicates
txt = test['text']
#sg= df_train['message']
test[txt.isin(txt[txt.duplicated()])]
#rain[msg.isin(msg[msg.duplicated()])]

      index                                               text
23       24    Rente ten opsigte van finansiële huurkontrakte.
74       75                                 Kontant en bank...
89       90       kukho ithemba lokuba isicelo singaphumelela.
128     129  Pfhumba: Ku herisa Madzolonga ya Mathekisi Nka...
157     158                      ya Bosetšhaba ya Diporofense.
...     ...                                                ...
5592   5593           Fa e le maikano: A Modimo a nthuse jalo.
5598   5599  Ge leloko goba moholegi a ka hlolwa go bona ng...
5619   5620  Klaargemaakte produkte wat nie deur hierdie bo...
5652   5653  Ngitjheja kobana isiFungo sisibopho kusazelo s...
5674   5675    botlalo tšeo di hlokegago o mongwe le o mongwe.

[400 rows x 2 columns]

In [15]:
#removing duplicates
test.drop_duplicates(subset = "text",keep = False,inplace = True)
test

      index                                               text
0         1  Mmasepala, fa maemo a a kgethegileng a letlele...
1         2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2         3         Tshivhumbeo tshi fana na ngano dza vhathu.
3         4  Kube inja nelikati betingevakala kutsi titsini...
4         5                      Winste op buitelandse valuta.
...     ...                                                ...
5677   5678                   You mark your ballot in private.
5678   5679  Ge o ka kgetha ka bowena go se šomiše Mofani k...
5679   5680  E Ka kopo etsa kgetho ya hao ka hloko, hobane ...
5680   5681  TB ke bokudi ba PMB, mme Morero o tla lefella ...
5681   5682              Vakatjhela iwebhusayidi yethu ku-www.

[5282 rows x 2 columns]

In [16]:
#removing duplicates
train.drop_duplicates(subset = "text",keep = False,inplace = True)
train

      lang_id                                               text
1         xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2         eng  the province of kwazulu-natal department of tr...
3         nso  o netefatša gore o ba file dilo ka moka tše le...
4         ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...
5         nso  dinyakišišo tše tša go dirwa gabedi ka ngwaga ...
...       ...                                                ...
32994     eng  manuel marin s ill-fated debt sources but very...
32995     tsn  popo ya dipolateforomo tse ke go tlisa boetele...
32997     eng  closing date for the submission of completed t...
32998     xho  nawuphina umntu ofunyenwe enetyala phantsi kwa...
32999     sot  mafapha a mang le ona a lokela ho etsa ditlale...

[27401 rows x 2 columns]

In [17]:
def remove_punctuation(post):
    return ''.join([l for l in post if l not in string.punctuation])

In [18]:
#printing the punctuations
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [19]:
#removing punctuations in the train dataframe
train['text'] = train['text'].apply(remove_punctuation)
train['text'].iloc[0]

'idha iya kuba nobulumko bokubeka umsebenzi naphi na kwisebe ngokusekwe kwiimfuno zokusebenza zalo emva kokubonana nomsebenzi kunye okanye imanyano yakhe ukuba ulandulo lomntu onjalo alufanelekanga idha mayibize uncedo olufanelekileyo elungelweni layo'

In [20]:
#removing punctuations in the train dataframe
test['text'] = test['text'].apply(remove_punctuation)
test['text'].iloc[0]

'Mmasepala fa maemo a a kgethegileng a letlelela kgato eo'

In [21]:
#converting the texts into lower case
train['text'] = train['text'].str.lower()
train

      lang_id                                               text
1         xho  idha iya kuba nobulumko bokubeka umsebenzi nap...
2         eng  the province of kwazulunatal department of tra...
3         nso  o netefatša gore o ba file dilo ka moka tše le...
4         ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...
5         nso  dinyakišišo tše tša go dirwa gabedi ka ngwaga ...
...       ...                                                ...
32994     eng  manuel marin s illfated debt sources but very ...
32995     tsn  popo ya dipolateforomo tse ke go tlisa boetele...
32997     eng  closing date for the submission of completed t...
32998     xho  nawuphina umntu ofunyenwe enetyala phantsi kwa...
32999     sot  mafapha a mang le ona a lokela ho etsa ditlale...

[27401 rows x 2 columns]

In [22]:
test['text'] = test['text'].str.lower()
test

      index                                               text
0         1  mmasepala fa maemo a a kgethegileng a letlelel...
1         2  uzakwaziswa ngokufaneleko nakungafuneka eminye...
2         3          tshivhumbeo tshi fana na ngano dza vhathu
3         4  kube inja nelikati betingevakala kutsi titsini...
4         5                       winste op buitelandse valuta
...     ...                                                ...
5677   5678                    you mark your ballot in private
5678   5679  ge o ka kgetha ka bowena go se šomiše mofani k...
5679   5680  e ka kopo etsa kgetho ya hao ka hloko hobane h...
5680   5681  tb ke bokudi ba pmb mme morero o tla lefella t...
5681   5682                vakatjhela iwebhusayidi yethu kuwww

[5282 rows x 2 columns]

In [23]:
#looking for the special characters and the normal characters
special_characters = ['tÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ï¿½ï¿½ï¿½ï¿½ï™']
chars = 'abcdefghijklmnopqrstuvwxyz123456789 \n'

In [24]:
#checking if the special characters are in the  normal characters
def special_chars(post):
    return ''.join([i for i in post if i in chars])

In [25]:
#removing the special chars
train['text'] = train['text'].apply(special_chars)
train['text'].iloc[0]

'idha iya kuba nobulumko bokubeka umsebenzi naphi na kwisebe ngokusekwe kwiimfuno zokusebenza zalo emva kokubonana nomsebenzi kunye okanye imanyano yakhe ukuba ulandulo lomntu onjalo alufanelekanga idha mayibize uncedo olufanelekileyo elungelweni layo'

In [26]:
test['text'] = test['text'].apply(special_chars)
test['text'].iloc[0]

'mmasepala fa maemo a a kgethegileng a letlelela kgato eo'

In [27]:
X = train["text"]
y = train["lang_id"]

In [95]:
X.shape

(27401,)

In [28]:
# train-test split for validations
y = train['lang_id']
X = train['text']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [63]:
y
X

1        idha iya kuba nobulumko bokubeka umsebenzi nap...
2        the province of kwazulunatal department of tra...
3        o netefata gore o ba file dilo ka moka te le d...
4        khomishini ya ndinganyiso ya mbeu yo ewa maana...
5        dinyakiio te ta go dirwa gabedi ka ngwaga di t...
                               ...
32994    manuel marin s illfated debt sources but very ...
32995    popo ya dipolateforomo tse ke go tlisa boetele...
32997    closing date for the submission of completed t...
32998    nawuphina umntu ofunyenwe enetyala phantsi kwa...
32999    mafapha a mang le ona a lokela ho etsa ditlale...
Name: text, Length: 27401, dtype: object

In [52]:
TfidfVectorizer(max_df = 0.4,
              smooth_idf = True,
              stop_words = 'english',
              ngram_range = (1,2))

TfidfVectorizer(max_df=0.4, ngram_range=(1, 2), stop_words='english')

In [64]:
vectorizer = TfidfVectorizer()
vectorizer.fit_transform(X)

<27401x134193 sparse matrix of type '<class 'numpy.float64'>'
	with 773032 stored elements in Compressed Sparse Row format>

In [65]:
svc = LinearSVC()

In [66]:
svc.fit(vect.transform(X_train), y_train)
y_pred = svc.predict(vect.transform(X_test))
y_pred

array(['ssw', 'xho', 'xho', ..., 'nbl', 'zul', 'eng'], dtype=object)

In [102]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         afr       1.00      1.00      1.00       281
         eng       1.00      1.00      1.00       297
         nbl       1.00      0.99      1.00       327
         nso       1.00      0.99      1.00       322
         sot       1.00      1.00      1.00       307
         ssw       0.99      1.00      0.99       286
         tsn       1.00      1.00      1.00       297
         tso       1.00      1.00      1.00       253
         ven       1.00      1.00      1.00       322
         xho       0.99      1.00      1.00       313
         zul       0.99      0.99      0.99       295

    accuracy                           1.00      3300
   macro avg       1.00      1.00      1.00      3300
weighted avg       1.00      1.00      1.00      3300

In [55]:
trainy = pd.read_csv('train_set.csv')
trainy.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [170]:
Kaggle = trainy['text']
Kaggle

0        umgaqo-siseko wenza amalungiselelo kumaziko ax...
1        i-dha iya kuba nobulumko bokubeka umsebenzi na...
2        the province of kwazulu-natal department of tr...
3        o netefatša gore o ba file dilo ka moka tše le...
4        khomishini ya ndinganyiso ya mbeu yo ewa maana...
                               ...
32995    popo ya dipolateforomo tse ke go tlisa boetele...
32996    modise mosadi na o ntse o sa utlwe hore thaban...
32997    closing date for the submission of completed t...
32998    nawuphina umntu ofunyenwe enetyala phantsi kwa...
32999    mafapha a mang le ona a lokela ho etsa ditlale...
Name: text, Length: 33000, dtype: object

In [171]:
Kaggle.shape

(33000,)

In [172]:
prediction = svc.predict(vect.transform(Kaggle))

In [173]:
prediction.shape

(33000,)

In [196]:
submission= pd.DataFrame(data=testi['index'], columns=['index'])
submission.insert(1, 'lang_id', kaggle_pred, allow_duplicates=False)
submission.to_csv('Mmathabo Pule.csv', index=False)
submission.head()

   index lang_id
0      1     tsn
1      2     nbl
2      3     ven
3      4     ssw
4      5     afr